<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">Aespa</div>
        
        <div class="menu">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
        <button class="navbar-login">Login</button>
    </nav>

    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to MY AESPA PAGE</h1>
            <p>Experience the next level of K-Pop Visual</p>
            <a href="#" class="btn">Explore Now</a>
        </div>
</body>
</html>