<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
            display: inline-block;
            background-color: aqua;
            width: 200px;
            height: auto;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>INI KONTEN 1</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, blanditiis exercitationem dolorem ratione eveniet at aspernatur quam adipisci cupiditate vero architecto autem expedita libero non fuga ipsum id earum. Eveniet?</p>
    </div>
    <div class="content">
        <h1>INI KONTEN 2</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, blanditiis exercitationem dolorem ratione eveniet at aspernatur quam adipisci cupiditate vero architecto autem expedita libero non fuga ipsum id earum. Eveniet?</p>
    </div>  
</body>
</html>