body {
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
}

.card-header {
    font-family: poppins;
    color: blueviolet;
    font-weight: 500;
}

.card-header p {
    color: black;
}

.card-body {
    font-family: poppins;
}

.card {
    width: 300px;
    max-height: 400px;
    min-height: 200px;
    padding: 20px;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

button {
    font-family: poppins;
    font-weight: 400;
    letter-spacing: 0.3;
    background-color: aqua;
    border-radius: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: violet;
}

.card:hover {
    outline: 3px solid blue;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    transition: all 0.1s ease-in-out;
}